@model RecuperarAccesoModel
@{
    Layout = "_LayoutExterno";
}

<div class="row h-100">
    <div class="col-lg-6 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a asp-action="Index" asp-controller="Home"><img src="~/images/logo-pasteleria.png" alt="Logo"></a>
            </div>
            <h1 class="auth-title">Recuperar Acceso</h1>

            <form asp-action="RecuperarAcceso" asp-controller="Home" method="post">
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="CorreoElectronico" type="text" class="form-control form-control-xl" placeholder="Correo Electrónico">
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-1">Procesar</button>
            </form>

            <div class="text-center mt-5 text-lg fs-4">
                <p class='text-gray-600'>
                    ¿Recuerdas tu contraseña? <a asp-action="Index" asp-controller="Home" class="font-bold">
                    Inicia Sesión
                </a>
            </p>
        </div>
    </div>
</div>
<div class="col-lg-6 d-none d-lg-block">
    <div id="auth-right">
    </div>
</div>
</div>